body {
    background-color: #D3D3D3;
}

.paintings {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 64px;
   
}

#painting {
    width: 369px;
    height: 600px;
}

.middle {
    margin-bottom: 24px;
}

.side {
    margin-top: 24px;
}

.slidecontainer1, .slidecontainer2 {
   margin-top: 20px;
}

.slider {
    width: 100%;
    display: block;
    margin: 0 auto;    
    width: 300px;
    accent-color: gray;
}

#myRange2 {
    accent-color: rgba(233, 84, 106, 0.172);

}

#btn {
    display: block;
    margin: 20px auto;    
    padding: 6px 20px;

    
}
